@import "main.css";

/*-----ADDITIONAL STYLES------*/

.jumbotron {
	background: url('../images/bg-re.svg') no-repeat center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 250px;
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

img {
	-webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

div.jumbotron>div>h1 {
	color: #222A68;
	font-family: "Roboto Slab";
}

div.jumbotron>div>h2 {
	color: #222A68;
	font-family: "Roboto";
	font-weight: lighter;
}

div.col-md-4>img {
	height: 125px;
	width: 125px;
}

div.col-md-4>img:hover {
	height: 150px;
	width: 150px;
} 

a.btn.btn-lg {
	background-color: darkblue;
	color: white;
}

div.tagLine>h2 {
	font-weight: bold;
}


/*-----SEARCH AUTO-COMPLETE BOX-----*/



/*-----ADDITIONAL MEDIA QUERIES-----*/

/*reduce padding from jumbotron contents at lower resolutions*/
@media (max-width: 767px) {
  .jumbotron {
    padding-bottom: 100px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
 }

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
  .jumbotron {
	
  }

}




